<div class="container-fluid index_container">
  <div class = 'featured_article_wrapper row'>
      <%= render 'featured_article'%>
  </div>

  <div class = 'article_wrapper row'>
    <%= render 'categories_articles'%>
  </div>

  
</div>