@import "bootstrap/scss/bootstrap";

$orange: rgb(247, 98, 8);
$brown: rgb(77, 66, 60);
$white: rgb(255, 255, 255);
$yellow: rgb(222, 219, 10);

body {
  color: $white;
}

nav {
  .navbar-nav {
    margin: auto;
    background: $brown;
  }

  li {
    white-space: nowrap;
    margin-left: 20px;

    a {
      color: $white !important;
    }

    a:hover {
      color: $orange !important;
    }
  }

  img {
    width: 50px;
    height: 50px;
  }

  a:hover {
    text-decoration: none;
  }

  .nav_div_links {
    height: 60px;
    margin: 10px 0;
  }
}

.nav-item {
  white-space: nowrap;
  color: $white;
}

.index_container {
  a {
    text-decoration: none;
    color: $white;
  }
}

.featured_article_wrapper,
.article_wrapper {
  background: rgba(77, 66, 60, 0.3);
}

.featured_article {
  height: 35vh;
  min-height: 250px;
  background-position: center center !important;
  background-size: cover !important;

  .article_title {
    color: $orange;
    font-weight: 800;
    font-size: 1.1rem;
  }

  .article_text {
    line-height: 1rem;
    font-weight: 700;
  }
}

.empty_category {
  background: url(logo.png) no-repeat center center;
  background-size: cover;
}

.yellow_line {
  width: 100px;
  border: $yellow 1px solid;
  margin-left: 0;
}

.footer {
  padding: auto 20px;
  font-size: 0.8rem;
  background: $brown;

  a {
    color: $orange;
    text-decoration: none;
  }

  img {
    width: 50px;
    height: 50px;
  }

  .social_link_container {
    background: $orange;
    padding: 6px;
    border-radius: 50%;
    height: fit-content;
    margin: auto 5px;

    a {
      color: $brown;
      font-size: 1.5rem;
    }
  }
}

.category_article_image {
  min-width: 50%;
  height: 50vh;
  background-size: cover !important;
  background-position: center center !important;
}

.article_content {
  color: black;
  padding: 20px;

  .category_category {
    color: $orange;
    line-height: 1.5rem;
    font-weight: 700;
    font-size: 1.1rem;
    border-bottom: $orange 2px solid;
    padding-bottom: 3px;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: 700;
  }

  a:hover {
    color: $orange;
  }
}
