<footer class="footer d-flex justify-content-between align-items-center w-100 px-md-4">
    <%= image_tag "logo_letter.png" %>

    <div class="footer_links d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center">
      All articles and photos were taken from <a href="https://www.motortrend.com/" class="policies" target="_blank"> MOTORTREND </a> and <a href="https://www.motorcyclenews.com/" class="policies" target="_blank">MCN</a> Copyright 2020. All rights reserved.
    </div>

    <div class="footer_social_links d-flex justify-content-end align-items-center">
      Connect with us:
      <div class="social_link_container d-flex justify-content-center align-items-center">
        <%= link_to "", 'https://www.linkedin.com/in/lmaldonadoch/', class:"social_media_link fa fa-linkedin" %>
      </div>
      <div class="social_link_container d-flex justify-content-center align-items-center">
        <%= link_to "", 'https://github.com/lmaldonadoch', class:"social_media_link fa fa-github" %>
      </div>
      <div class="social_link_container d-flex justify-content-center align-items-center">
        <%= link_to "", 'https://twitter.com/LuisAngelMCh', class:"social_media_link fa fa-twitter" %>
      </div>
    </div>

  </footer>